*{
    font-family:sans-serif;
    scroll-behavior:smooth;
}

body{
    position: relative;
}

.section-menu{
    background: black;
}



.header-flexbox{
    display: flex;
    justify-content: space-between;
    align-items:center;
    background-color: #313131;
    color:white;
}
.header-logo{
    display:flex;
    justify-content: flex-start;
    align-items:center;
    
}
.logo-img{
    padding:22px 27px;
}

.header-title{
    font-size:22px;
    font-weight: bold;
}
.header-menu{
    display: flex;
    justify-content: space-between;
    padding:0;
    margin:0;
}
.menu-item{
    list-style-type: none;
    padding: 28px 35px 27px 0;
}
.menu-link{
    text-decoration: none;
    color:white;
    font-size:15px;
    text-transform: uppercase;
    transition:1s;
}

.header-search{
    background-color: black;
    border:none;

}

.button-img{
    padding:27px;
}

.page-title-box{
    background-image: url(header-bg.jpeg);
    height:370px;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    align-content: space-between;
}

.page-title{
    width:100%;
    text-align:center;
    color:white;
    text-transform: uppercase;
    font-size:27px;
    padding:165px 0 45px 0;
    margin:0 auto;
}

.page-title-button{
    width:170px;
    height:55px;
    margin-bottom:75px;
    font-size:18px;
    color:white;
    border:none;
    border-radius:4px;
}
.page-title-button1{
    background:green;
    margin-right:20px;
}
.page-title-button2{
    background: blue;
}


.popular-title{
    text-transform: uppercase;
    color:cadetblue;
    font-size:27px;
    font-weight:bold;
    text-align:center;
    padding:50px 0;
}

.popular{
    background: #F2F2F2;
    padding-bottom:75px;
    scroll-behavior: smooth;
}

.popular-posts-flex{
    display:flex;
    justify-content: center;

}

.inner-flex{
    width:370px;
    display:flex;
    flex-wrap: wrap;
    align-content: flex-start;
    margin-right:30px;
}

.inner-flex-last{
    margin-right:0;
}

.popular-post{
    text-align: center;
    font-size:18px;
    font-weight:bold;
    margin-bottom:30px;
}
.popular-posts-description{
    background:white;
    padding:21px 0;
}

.popular-clients{
    background-image: url(gridbg.png);
    height:588px;
    text-align: center;
}

.popular-clients-title{
    color:white;
    text-transform: uppercase;
    font-size:32px;
    padding-top:105px;
    margin-bottom:87px;
}

.blue-line{
    height:3px;
    width:60px;
    margin:0 auto 106px;
    background:#18B4CF;
    
}

.popular-clients-grid{
    padding:0 510px;
    display:grid;
    grid-template-columns: repeat(4, minmax(auto, min-content));
    grid-gap:50px;
    align-items: center;
}

.top-rated-grid{
    display:grid;
    grid-template-columns: repeat(7, 1fr);
}

.hot-news{
    margin:0 365px;
}


.hot-news-grid{
    display: grid;
    grid-template-columns: repeat(4, 280px);
    grid-template-rows: repeat (4, minmax(auto, min-content));
    grid-row-gap: 45px;
    grid-column-gap: 30px;
}
.hot-news-post{
    background:#F9F7F7;
}

.flex-desription{
    display:flex;
    flex-wrap: wrap;
    justify-content: right;
    align-content: flex-start;
}

.hot-post-img{
    width:100%;
}
.hot-news-post1{
    grid-column: 1/4;
    display:flex;
}

.hot-news-post3{
    grid-column:1/3;
}

.hot-news-post4{
    grid-column:3/5;
}

.hot-news-post5{
    grid-column:1/3;
}

.hot-news-post6{
    grid-column:3/5;
}
.hot-news-post8{
    grid-column:2/5;
    display:flex;
}

.news-post-title{
    font-size: 18px;
    font-weight: bold;
    text-align:right;
}

.news-post-description{
    font-size:14px;
    text-align:right;
    line-height:21px;
}

.hot-news-post-mini{
    text-align: center;
}


.news-post-title-mini{
    padding:5px 15% 20px 15% ;
}

.news-post-title-wide{
    padding:41px 24px 15px 0;
}

.news-post-description-wide{
    padding-right:24px;
    padding-left:10px;
}

.news-post-title-middle{
    padding:15px 27px 15px 0;
}

.news-post-description-middle{
    padding-right:14px;
}

.page-bottom{
    background:black;
    padding:30px 375px;
    margin-top:75px;
    color:white;
    display:flex;
    justify-content: space-between;
    align-items:center;
    
}

.bottom-coryright{
    font-size:13px;
}

.bottom-logo{
    display:flex;
    justify-content: flex-end;
}

.bottom-logo-title{
    text-transform: uppercase;
    font-weight:bold;
}