*{
    font-family: 'Montserrat';
}

.header-container{
    margin:0 auto;
    width:100%;
    color:white;
    background-image: url(/imgs/headerBG.png);
    text-align: center;
    background-attachment: fixed;
    margin-bottom:10px;
}

.header-top-line{
    background: rgba(94, 93, 88, 0.6);  
   
}

.menu-container{
    margin:0 auto;
    max-width:1160px;
    display:flex;
    justify-content: space-between;
    margin-bottom:265px;
}

.header-logo{
    display:flex;
    align-items: center;
    padding:25px 0;
}

.logo{
    background:#18CFAB;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    padding: 20px;
    font-size:40px;
    box-sizing: border-box;
    font-weight:bold;
}

.logo-title{
    font-size:32px;
    color:white;
    padding-left:5px;
}

.ham{
    font-weight: bold;
    color:#18CFAB;
}

.header-menu{
    list-style-type: none;
    display:flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
}

.menu-item{
    height:100%;
    padding: 50px 0;
    font-weight: bold;
    margin-right:20px;
    cursor: pointer;
}

.menu-link{
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}

.menu-item:last-child{
    margin:0;
}

.menu-item:hover{
    border-bottom: 2px solid #18CFAB;
}

.menu-item:hover .menu-link{
    color:#18CFAB;
}

.header-title{
    font-size: 35px;
    text-transform: uppercase;
    font-weight:700;
}

.colored-text{
    color:#18CFAB;
    font-weight: inherit;
}

.big-title{
    font-size:78px;
}

.header-title-small{
    font-size:34px;
    text-transform:capitalize;
    margin-bottom:135px;
}

.header-buttons{
    padding-bottom:245px;
}

.header-button{
    border:none;
    border-radius:5px;
    padding:20px;
    font-size:15px;
    font-weight:bold;
    text-transform: uppercase;
    color:white;
    box-shadow: 0px -5px white;
}

.explore{
    background:#18CFAB;
    margin-right:25px;
}

.purchase{
    background:#00CBF6;
}

.features{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    text-align:center;
    margin-bottom:85px;
}

.feature{
    padding:100px 0;
}

.feature-logo{
    height:100px;

}

.feature:nth-child(odd){
    background: #1C2A33;
    color:#18CFAB
}

.feature:nth-child(even){
    background: #18CFAB;
    color:white;
}

.feature-title{
    font-size:20px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top:50px;
}

.services{
    margin:0 auto;
    width:100%;
    max-width:1160px;
    text-align:center;
}

.services-title, .work-title, .news-title, .about-title{
    text-align:center;
    font-size:36px;
    text-transform: capitalize;
    margin-bottom:30px;
}


.blue-lines:before{
    content: '';
    display: block;
    height:5px;
    width:80px;
    margin:0 auto;
    background: #18CFAB;
    box-shadow: 15px 10px #18CFAB;
}

.services-menu{
    list-style-type:none;
    display:flex;
    justify-content: center;
    margin:70px auto 30px auto;
    text-transform: capitalize;  
}

.services-menu-tab{
    background: #F8FCFE;
    border: 1px solid #EDEFEF;
    padding:30px 39px;
    cursor: pointer;
}

.services-menu-tab:hover{
    border:1px solid #18CFAB;
}

.active{
    background: #18CFAB;
    position:relative;
}


.active:after{
    content: '';
    display: block;
    position:absolute;
    top:75px;
    left:63px;
    border: 15px solid transparent;
    border-top: 15px solid #18CFAB;
}

.services-tab{
    display:flex;
    justify-content: center;
    align-items: center;
    text-align:left;
    margin-bottom:90px;
}

.tab-img{
    width:190px;
    height:140px;
}

.services-description{
   padding-left:15px;
}

.purchase-container{
    background: url(/imgs/section-2.jpg);
    background-attachment:fixed;
    background-position-y: center;
}

.background-blackout{
    background:rgba(0,0,0 , 0.8)
}

.purchase-section{
    max-width:1160px;
    margin:0 auto;
    text-align: center;
}

.purchase-title{
    text-transform: uppercase;
    color:#18CFAB;
    font-weight:bold;
    font-size:40px;
    margin-bottom:20px;
    padding-top:130px;
}

.purchase-description{
    color:white;
    margin-bottom:75px;
}

.purchase-button{
    margin-bottom:130px;
}

.amazing-work-container{
    background:#E9EDEF;
    padding-top:100px;
    padding-bottom:100px;
}

.amazing-work{
    max-width:1160px;
    margin:0 auto;
    text-align: center;
}

.work-menu{
    margin:70px 0;
    list-style-type:none;
    display:flex;
    justify-content: center;

}

.work-menu-tab{
    padding:20px 30px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #DADADA;
    cursor: pointer;
}

.work-menu-active{
    color:#18CFAB;
    border:1px solid #18CFAB;
}

.work-images{
    display:flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
}

.work-img-card{
    position:relative;
}

.hidden{
    display:none;
}

.work-img-card:hover .card-back{
    opacity:1;
    transition: 1s;
}

.card-img, .card-back{
    width:285px;
    height:210px;
}

.card-back{
    position: absolute;
    top:0;
    text-align: center;
    background: #E9EDEF;
    opacity:0;
    transition:1s;
}

.card-button{
    border-radius:50%;
    border:1px solid #18CFAB;
    padding:10px;
    width:40px;
    height:40px;
    margin-top:50px;
}

.card-button:hover{
    background:#18CFAB;
}

.card-button:hover .card-button-img{
    fill:white;
}

.card-name{
    font-size:14px;
    font-weight:bold;
    text-transform: uppercase;
    color:#18CFAB;
    padding-top: 40px;
    padding-bottom:20px;
}

.card-category{
    font-size:12px;
    color:#8A8A8A;
}

.load-button{
    background:#18CFAB;
    color:white;
    border-radius: 5px;
    border:none;
    padding:20px 25px;
    font-size:14px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top:70px;
}

.load-button-img{
    padding-right:15px;
} 

.breaking-news{
    max-width:1160px;
    margin:0 auto;
    padding-top:80px;
}

.news-posts {
    margin-top:70px;
    margin-bottom:100px;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
    align-content: flex-start;
}

.post{
    display:flex;
    justify-content: flex-start;
    flex-wrap:wrap;
    position:relative;
    width:265px;
    margin-bottom:50px;
    cursor: pointer;
    text-decoration: none;
}


.post:hover .post-date{
    background:#18CFAB;
}

.post:hover .post-title{
    color:#18CFAB;
}



.post-date {
    position:absolute;
    top:0;
    right:0;
    text-align:center;
    width:70px;
    height:70px;
    line-height:20px;
    box-sizing: border-box;

    padding:15px 20px;
    background: #203E38;
    color:white;
}


.post-title{
    width:265px;
    padding:15px 0 15px 20px;
    box-sizing: border-box;
    font:18px;
    font-weight: bold;
    text-transform: capitalize;
    color:#717171;
}

.post-author, .post-comments{
    font-size:14px;
    padding-left:20px;
    color:#777;
}

.post-author{
    padding-right:15px;
    border-right:1px solid #777;
}

.about{
    background-image: url(/imgs/aboutBG.png );
    background-attachment: fixed;
    background-size:cover;
    padding-bottom:100px;
}

.about-container{
    max-width:1160px;
    margin:0 auto;
    text-align:center;
}

.quotes{
    margin-top:70px;
}

.about-title{
    color:white;
    padding-top:100px;
}

.review-slider{
    margin-top:40px;
    margin-bottom:60px;
}

.review-text{
    color:#BBB;
    line-height:30px;
    margin-bottom:40px;
}

.review-author{
    color:#18CFAB;
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom:15px;
}

.author{
    font-size:13px;
    color:#BBB;
}

.slide-img{
    margin-top:50px;
    margin-bottom:70px;
    border-radius: 50%;
    width:140px;
    height:140px;
    box-shadow:0 0 0 10px rgba(31, 218, 181, 0.2);
    mix-blend-mode: normal;
}

.navigation-slider{
    width:500px;
    margin:0 auto;
    display:flex;
    justify-content: center;
}

.square-arrow{
    border-radius:0;
    fill:#BBB;
    border: 1px solid #BBBBBB;
    background:transparent;
}

.square-arrow:hover{
    background:#18CFAB;
    border:none;
    fill:white;
}

.navigation-slider .slide-item:first-child{
    margin-left:40px;
}
.navigation-slide{
    border-radius: 50%;
    box-shadow: 0px 0px 0px 6px rgba(31, 218, 181, 0.2);
}

.footer{
    background:#22353F;
    padding:50px 0;
    text-align:center;
}

.copyright{
    display:inline;
    font-size:14px;
    color:#AEAEAE;
}

.ham2{
    color:#18CFAB;
    border-right:1px solid #AEAEAE;
    margin-right:5px;
}