*{
    font-family: sans-serif;
}

.page-milan{
    background-image: url("background.png");
    background-repeat: no-repeat;
    background-size:100%;
}

.page-header{
    display:flex;
    justify-content:space-between;
    max-width:1030px;
    margin:0 auto;
    padding-top:50px;
    padding-bottom:25px;


}

.header-logo{
    text-decoration: none;
    width:180px;
    color:white;
    display:flex;
    background-image: url("logoMilan.svg");
    background-repeat: no-repeat;
}

.header-logo:hover{
    color: #F26522;
    background-image: url("logo2.png");
    
}


.logo-title{
    margin: 0;
    text-transform: uppercase;
    padding-left:60px;
}

.header-contacts{
    text-align:right;
    display:flex;
    flex-direction: column;
}

.contacts{
    text-decoration: none;
    color:white;
    padding-bottom:20px;
}

.contacts:hover{
    color:#F26522;
}

.content-tours{
    max-width:1030px;
    margin:0 auto;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
}

.tour-card{
    width:300px;
    height:300px;
    position: relative;

}

.tour-card-info{
    background:orangered;
    color:white;
    padding:0 15px;
    position: absolute;
    width:300px;
    bottom:80px;
    visibility: hidden;
}

.tour-card:hover .tour-card-info{
    visibility: visible;
}

.from{
    margin:0;
    padding-top:7px;
    font-size:10px;
}

.flex-info{
    display: flex;
    justify-content: space-between;
    align-items:flex-end;
}
.price, .details{
    margin:10px 0;
}

.price{
    font-size:20px;
}

.details{
    font-size:14px;
}

.details::after{
    content:  url("arrow.png");
    margin-left:15px;
    
}

.tour-card-name{
    color:white;
    font-size:18px;
    text-align:center;
    margin-bottom:0;
    margin-top:10px;
    text-transform: capitalize;
}

.tour-card:hover .tour-card-name{
    color:orangered
}

.page-bottom{
    text-align:center;
    color:white;
    font-size:12px;
    padding-bottom:15px;
}