@mixin positionOnCenter() {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



.modal {
@include positionOnCenter();
 width:100%;
  height:100%;
  position: fixed;
  z-index:100;
  background: rgba(0, 0, 0, 0.7);
  box-sizing: border-box;
    &__container {
    width:600px;
    background:red;
    position:absolute;
    @include positionOnCenter()
 }

 &__header {
     background: brown;
     padding: 10px;

     & button{
        border-radius: 50%;
        width:35px;
        height:35px;
        position: absolute;
        right: -15px;
        top: -15px;
        background:black;
        color:white;
     }
 }

 &__content {
     padding: 10px;
 }

 &__footer {
     padding: 10px;
     text-align: right;
 }
 
}
