@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.nav{
    font-family: 'Roboto', sans-serif;
    padding:30px;
    margin:0;
    list-style-type: none;
    display: flex;
    justify-content: space-around;

    &__link{
        font-size:20px;
        & a{
        text-decoration: none;
        font-weight: bold;
    }

    &--active {
        color:red;
    }
        
    }
}