.page-wrapper{
    max-width:1280px;
    width:100%;
    margin:0 auto;
    font-family: sans-serif;
}
.header{
    margin-top:60px;
}
.header-title-link{
    font-size:80px;
    color:black;
    text-decoration: none;
    margin-top:60px;

}
.header-title-blue{
    color:blue;
}

.header-menu-box{
    background: #35444F;
    margin-top: 38px;
    margin-bottom: 50px;
}

.header-menu{
    display:flex;
    justify-content: center;
    align-items: center;
    border-left:1px solid white;
}


.header-menu-item{
    font-size: 24px;
    list-style-type: none;
    border-left:1px solid white;
    padding:24px 35px;
}
.header-menu-link{
    text-decoration: none;
    color:white;
}

.header-menu-item4{
    border-right:1px solid white;
}

.content{
        display:flex;
        justify-content: space-between;
        align-items: flex-start;
}

.content-menu-box{
    width:345px;
    border:1px solid black;
    box-sizing: border-box;
    margin:0;
}

.content-menu{
    margin:0;
    padding:0;
}

.content-menu-item{
    list-style-type: none;
    font-size:27px;
    padding:24px 0 24px 44px;
}
.content-menu-link{
    text-decoration: none;
    color: #485863;
}

.content-main{
    width: 886px;
}

.content-img-box{
    border:1px solid black;
    margin:0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:75px 0;
}
.content-img{
    width:320px;
}
.content-main-text{
    margin-top:37px;
    font-size:18px;
}
.page-bottom{
    font-size:28px;
    background: rgba(99, 105, 110, 0.48);
    margin-top:57px;
    padding: 20px 40px;
    display:flex;
    justify-content: space-between  ;
}

.bottom-menu{
    margin:0;
    padding:0;
    list-style-type: none;
    display:flex;
}

.bottom-menu-item{
    padding-right:30px;
}

.bottom-menu-link{
    text-decoration:none;
    color:black;
    
}



