*{
    font-family:sans-serif;
}

body{
    overflow:hidden;
    background: black;
}

.wrapper{
    color:yellow;
    font-weight:bold;
    transform:perspective(500px) rotateX(30deg);
    
}

@keyframes star-wars{
    0%{
        transform: translateY(969px);
    }
    100%{
        transform: translateY(0);
    }
}

.content{
    width:100%;
    max-width:900px;
    height:969px;
    margin:0 auto;
    text-align:center;
    animation-name: star-wars;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    
}

.title{
    font-size:54px;
    text-transform: uppercase;
    padding-bottom:30px;
}

.content-text{
    font-size:32px;
    padding-bottom:30px;
}


