

body {
    background-image: url(bg.png);
    background-size: cover;
}

.header {
    background:rgba(0, 0, 0, 0.4);
    color:white;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:20px 80px;
    font-family: 'Ubuntu', sans-serif;
}

.header-title-logo{
    cursor: pointer;
}

.header-title-logo:hover .header-title-logo-path{
    fill:green;
}

.header-flex-login{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width:330px;
}

.header-img-panel{
    width:130px;
    display:flex;
    justify-content: space-between;
}

.header-img-panel::after{
    content: " ";
    background: gray; 
    width: 1px;
    height: 25px;
    margin-right: 10px;
}

.svg-box{
    cursor: pointer;
}

.login-link{
    text-decoration: none;
    color:white;
}

.svg-box:hover .svg-hover, .login-link:hover{
    fill:green;
    color:green;
}

.form-container{
    position:relative;
    max-width:450px;
    margin:calc((50% - 65px - 611px)/2) auto;
    background:white;
    padding:30px 60px 40px 60px;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

.form-title-box{
    display:flex;
    justify-content: space-between;
    margin-bottom:15px;
}

.form-title::before{
    display:block;
    content: " ";
    height:18px;
    width:18px;
    background:green;
    position:absolute;
    top:30px;
    left:0px;
}

.form-title{
    font-size:20px;
}

.login-link2{
    font-size:14px;
    text-decoration: none;
    color:#3CB878;
}

.login-link2:hover{
    color:darkgreen;
    text-decoration: underline;
}

.button-box{
    display: flex;
    justify-content: space-between;
    margin-bottom:35px;
}

.button{
    position: relative;
    width:160px;
    border-radius: 4px;
    border:none;
    box-sizing: border-box;
    padding-right:22px;
    color:white;
    font-size:16px;
    font-family: 'Ubuntu', sans-serif;
    display:flex;
    justify-content: space-around;
    align-items:center;
    cursor:pointer;
}

.facebook-icon{
    padding:12px 20px 12px 17px;
}

.google-icon{
    padding:15px 7px 15px 12px;
}

.facebook-button{
    background:blue;
}

.facebook-button:hover{
    background: darkblue;
}

.google-button{
    background: red;
}

.google-button:hover{
    background: darkred;
}

.facebook-button-text::before{
    display:block;
    position: absolute;
    content: " ";
    background: #0A162F;
    opacity: 0.1;
    width: 1px;
    height: 25px;
    right:105px;
    top:12px;
}


.google-button-text::before{
    display:block;
    position: absolute;
    content: " ";
    background: #0A162F;
    opacity: 0.1;
    width: 1px;
    height: 25px;
    right:90px;
    top:12px;
}


.horizontal-line{
    color:gray;
    display:flex;
    justify-content: space-between;
    align-items:center;
    margin-bottom:10px;
}

.horizontal-line::before{
    display:block;
    content: " ";
    height:1px;
    width:150px;
    background:gray;
}

.horizontal-line::after{
    display:block;
    content: " ";
    height:1px;
    width:150px;
    background:gray;
}

.input-field{
    width:100%;
    padding:15px 20px;
    margin-bottom:15px;
    box-sizing: border-box;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    outline:none;
    font-family:'Ubuntu', sans-serif;
}

.input-field:focus{
    background: #FFFFFF;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}

.checkbox-label{
    font-size:14px;
    margin-bottom:20px;
}

.terms-conditions{
    color:green;
    text-decoration: none;
}

.terms-conditions:hover{
    color:darkgreen;
    text-decoration: underline;
}

.submit-button{
    width:100%;
    padding:15px;
    background: rgba(60, 184, 120, 0.8);
    border:none;
    border-radius:4px;
    font-family: 'Ubuntu', sans-serif;
    color:white;
    margin-top:20px;
    cursor: pointer;
}

.submit-button:hover{
    background: #01813F;
}