*{
    font-family: 'Montserrat', sans-serif;
    margin:0;
    padding:0;
}

/*Navigation start*/
.navigation{
    max-width: 100%;
    padding-left: 0;
    text-align: center;
    margin:0 auto;
}

.navigation-item{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    list-style-type: none;
    vertical-align: middle;
    color:red;
    font-weight: bold;  
    text-transform: uppercase;
    display:inline-block;
    margin-right:72px;
    padding:25px 0;
}
.navigation-item-last{
    margin-right:0;

}

.navigation-link{
    text-decoration: none;
    color:red;
}

/*Navigation end*/

.image{
width:100%;
}

    /*Section start*/
    .container{
        max-width:1280px;
        width: 100%;
        margin:0 auto;
        margin-top: 48px;
        text-align: center;
    }
    
.content-title{
     font-weight: bold;
    width:100%;
    text-align: center;
    margin-bottom:38px;
    text-transform: uppercase;
}

.content-text{
    text-align: center;
    line-height: 26px;

    }
.content-text-last{
    margin-top:28px;
    }     
        
.button{
    background-color: red;
    color:white;
    width: 191px;
    height:51px;
    border: none;
    border-radius: 8px;
    margin-top:66px;
    text-align:center;  
    }
      /*Section end*/
    
      .footer-text{
    letter-spacing: 2.4px;
    font-weight:bold;
    margin-right:105px;
    margin-bottom:30px;
    margin-top:80px;
    text-align:right;   
    }